body{
    background-color: rgb(199, 199, 199);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#paco{
    width: 150px;
    float: right;
}
.container{
    padding: 10px;
    border-radius: 30px;

    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

    padding: 20px;
    border-radius: 20px;
    height: 200px;
}
.card01{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

    padding: 20px;
    border-radius: 20px;
    height: 950px;
}
.card02{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

    padding: 20px;
    border-radius: 20px;
    height: 520px;
}
.card03{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

    padding: 20px;
    border-radius: 20px;
    height: 650px;
}
.grande{
    height: 500px;
}
.card03 img{
    height: 500px;
}
.card02 img{
    width: 500px;
}
.card01 img{
    width: 400px;
}
.card img{
    width: 400px;
}